:root {
  --hdfc-stepper-margin-style: 24px;
  --hdfc-stepper-width: 42px;
  --hdfc-stepper-height: 3px;
  --hdfc-wizard-step-legend-padding: 0;
  --hdfc-wizard-step-legend-width: clamp(100px, calc(308%/var(--wizard-step-count)), 330px);
  --loader-image-url: url('loader.gif');
}

body, .section.form-container {
    background-color: var(--color-interface-background-secondary);
}

main { overflow: hidden; }

main .form form {
  padding: 40px;
}

main .form.block {
    border-radius: var(--form-border-radius);
}

main .section.form-container {
    max-width: var(--form-max-width);
}

main .form select {
  height: var(--form-input-height) !important;
  padding: var(--form-input-padding) !important;
  border: 1px solid var(--color-input-border-default) !important;
  border-radius: var(--form-input-border-radius) !important;
}

main .form {
  input[type="text"], input[type="number"], input[type="email"], input[type="date"] {
    height: var(--form-input-height);
    padding: var(--form-input-padding);
    border: 1px solid var(--color-input-border-default);
    border-radius: var(--form-input-border-radius);
    font-weight: 400;
    font-size: 14px;
  }

  .date-wrapper .field-description {
    display: none;
  }
}

/* loader for app show hide on api call */ 
.preloader::before,
.preloader::after {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
display: flex;
align-items: center;
justify-content: center;
}

.preloader::before {
/* preLoading-text-css */
content: attr(loader-text);
font-size: 16px;
color: var(--form-label-title-color);
font-weight: var(--form-title-font-weight);
z-index: 10000;
top: -100px;
}

.preloader::after {
  /* preLoading-gif-image */
background: rgb(255 255 255 / 80%) var(--loader-image-url) no-repeat center center;
}

/* Base style for labels */
main .form :not(.checkbox-wrapper, .radio-wrapper) > label {
  margin: 20px;
  position: absolute;
  transition: .3s cubic-bezier(.25,.8,.5,1);
  font-weight: 400;
  font-size: 14px;
}

/* Style for labels when input is active or not empty */
main .form :is([data-active='true'], [data-empty='false'], .date-wrapper) > label {
  color: var(--label-color);
  transform: translateY(-22px);
  z-index: 1;
  background-color: var(--color-interface-background-primary);
  padding: 0 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Form permanent address toogle styling starts */

main .form form .field-permanentaddress .field-permanentaddresstoggle{
  align-items: center;
}

main .form form .field-permanentaddress .field-permanentaddresstoggle input[type="checkbox"] {
  display: none;
}

main .form form .field-permanentaddress .field-permanentaddresstoggle .field-label {
 display: flex;
   flex-basis: 40px;
   align-items: center;
 background-color: #9CA3AF;
 color: #fff;
 cursor: pointer;
 border-radius: 12px;
 height: 24px;
 width: 40px;
}

main .form form .field-permanentaddress .field-permanentaddresstoggle input[type="checkbox"]:checked + .field-label {
 background-color: #1C3FCA;
}

main .form form .field-permanentaddress .field-permanentaddresstoggle .field-label::before {
 content: '';
 display: inline-block;
 width: 20px;
 height: 20px;
 background-color: #fff;
 border-radius: 50%;
 margin-right: 10px;
 transition: transform 0.3s;
 margin-left: 1px;
}

main .form form .field-permanentaddress .field-permanentaddresstoggle input[type="checkbox"]:checked + .field-label::before {
 transform: translateX(20px);
 margin-right: 21px;
}

/* Form permanent address toogle styling ends */

/* Button Styling */
.button-wrapper {
  text-align: center;

  .button {
    max-width: 400px;
    border-radius: 13px;
    width: 100%;
    height: 52px;
    line-height: 24px;
    letter-spacing: 0 em;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: var(--form-button-font-size);
    font-weight: var(--form-button-font-weight);
    background: var(--color-action-background-primary-default);
    border: var(--color-action-border-primary-default);
    color: var(--color-action-text-primary-default);
  }

  :hover{
    background: var(--color-action-background-primary-default) !important;
    border: var(--color-action-border-primary-default);
    color: var(--color-action-text-primary-default);
  }

  :disabled{
    background-color: var(--color-action-background-primary-disabled) !important;
    border: var(--color-action-border-primary-disabled) !important;
    color: var(--color-action-text-primary-disabled) !important;
  }
}

.btn-short {
  text-align: center;

  .button {
    max-width: 260px !important;
    width: 100%;
  }
}

.button-wrapper.field-vkycproceedbutton {
  width: 400px;
  text-align: center;
  display: block;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

/* Error/Success Result Panel */
main .form .field-resultpanel {
  p, label {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin: 4px;
  }
}

main .form .field-errorresultpanel .field-errorresulttextlabel > p::before {
  background-image: url("../../icons/hdfc-error-icon.svg");
}

main .form .field-successresultpanel .field-successresulttextlabel > p::before {
  background-image: url("../../icons/hdfc-success-icon.svg");
}

main .form .field-errorresultpanel, main .form .field-successresultpanel {
  padding-bottom: 20px;

  > .field-wrapper {
      border-radius: var(--form-border-radius) var(--form-border-radius) 0 0;
  }

  .field-errorresulttextlabel, .field-successresulttextlabel {
      background-color: var(--color-interface-background-quaternary);
      margin: -40px -40px 0;
      
      p {
        padding: 20px 0 10px;
        color: var(--color-interface-text-tertiary);
        text-align: center;
      }

      > p::before {
          background-size: cover;
          display: inline-block;
          width: 80px; 
          height: 80px;
          content:"";
      }
  }
}

main .form .field-errorresultpanel > div:not(.field-errorresulttextlabel),
main .form .field-successresultpanel > div:not(.field-successresulttextlabel, .field-arnnumber) {
  display: flex;
  max-width: 506px;
  margin: 0 auto;
  text-align: center;

  p > p:not(:first-child) {
      padding-top: 15px
  }
}

main .form .field-successresultpanel .field-arnnumber {
  max-width: var(--form-max-width);
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid rgb(236 237 243);

  input {
      max-width: 45vw;
      margin: 0 0 0 55px;
      border: none;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
  }
}

main .form .field-errorresultpanel > div:not(.field-errorresulttextlabel)::before,
main .form .field-successresultpanel > div.field-arnnumber::before{
  content: url("../../icons/result-list-icon.svg");
  padding-right: 15px;
}

main .form form .field-corporatecardwizardview.wizard {
  overflow: hidden;
  padding: 0;

  .plain-text-wrapper b, legend {
    font-weight: 600;
    font-size: 20px;
  }

  ul.wizard-menu-items {
    flex-wrap: nowrap;
    gap: 0;
    margin-right: -35px;
  }

  li.wizard-menu-item {
    flex-grow: 1;
    position: relative;
    list-style-type: none;
    text-indent: 1%;
    display: flex;
    font-size: var(--form-font-size-xs);
  }

  li.wizard-menu-item:last-child {
      margin-right: -1vw;
  }

  li.wizard-menu-item::before {
    width: 30px;
    height: 30px;
  }

  li.wizard-menu-active-item::before {
    background-image: url("../../icons/current-step-indicator.svg");
    content: "";
    background-size: cover;
    background-color: unset;
    color: unset;
    border: none;
  }

  .stepper-style::after {
    content: "";
    display: block;
    width: var(--hdfc-stepper-width);
    height: var(--hdfc-stepper-height);
    background: var(--color-action-stepper-style);
    margin-top: var(--hdfc-stepper-margin-style);
    margin-left: -19px;
  }

  /* Accordion styling */
  fieldset {
    .field-prefilledemploymentdetails.field-wrapper {
      gap: 20px;
    }

    fieldset { 
      position: relative;

      legend {
        background-color: var(--color-interface-background-secondary);
        height: 60px;
        padding: 16px 24px;
        border-radius: 12px;
        }
      }   
  }

  > .wizard-button-wrapper {
    .field-back, .field-next {
      display: none;
    }
  }
}

.hdfc-accordion-style::after {
  content: url("../../icons/accordion-expand-icon.svg");
  display: inline;
  position: absolute;
  right: 1vw;
  transition: transform 0s;
}

.accordion-collapse::after { 
  transform: rotate(-180deg);
  margin-top: -9px;
}

main .form .field-otppanel {
  .field-otpnumber {
    margin-bottom: -10px;

    input {
      margin-bottom: 0;
    }
  }

  .field-otpresend {
    text-align: left;

    .button {
      max-width: fit-content;
      background: var(--color-action-text-primary-default);
      color: var(--color-action-text-secondary-default); 
      text-align: left;
    }

    :hover {
        background: white !important;
    }
  }
  
  .field-maxattempttext {
    input {
      text-align: right;
      border: none;
      cursor: text;
      pointer-events: none;
      margin-top: 0;
      padding: 0;
    }
  }
}

@media (width <= 750px) {
  main .section.form-container {
      width: 100%;
      margin: 0 auto;
      max-width: 100%;
  }

  main .form.block {
      border-radius: 0;
  }

  main .form form {
    padding: 28px;
  }

  main .form form .field-corporatecardwizardview.wizard {
    ul.wizard-menu-items {
      width: calc(300%);
    }

    li.wizard-menu-item {
      width: auto;
    }

    fieldset {
      width: 85vw;
      display: block;

      .panel-wrapper.field-prefilledemploymentdetails {
        gap: 20px;
      }
    }

    :is([data-active='true'], [data-empty='false'], .date-wrapper) > label {
      margin-left: 5px;
      font-weight: 400;
      font-size: 12px;
      padding: 0;
    }
  }

  main .form .field-errorresultpanel, main .form .field-successresultpanel {
      > div:not(.field-errorresulttextlabel) {
          max-width: 100%;
      }

      > .field-wrapper {
          border-radius: 0;
      }
  }
}

@media (width <= 480px) {
  main .form form {
    padding: 20px;
  }

  main .form .field-otppanel {
    .field-maxattempttext input {
      text-align: left;
      margin-bottom: 0;
    }
  }
}
