@import url('../../styles/color-palette.css');

main {
  display: flex;

  @media screen and (max-width: 490px) {
    flex-direction: column;
  }
  form {
    .field-corporatecardwizardview {
      .field-yourdetailspanel {
        .field-yourdetailspage {
          .field-personaldetails {
            input[disabled],
            select[disabled] {
              background-color: inherit;
              color: var(--color-interface-text-primary) !important;
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
}

.personaldetails-disabled,
.employmentdetails-disabled {
  .wrapper-disabled {
    pointer-events: none !important;

    .field-label {
      color: var(--color-interface-text-secondary) !important;
      font-size: var(--body-sm-font-size) !important;
      font-weight: var(--font-weight-regular) !important;
      line-height: var(--font-linehight-regular) !important;
      margin: 0 !important;
      padding: 0 !important;
      pointer-events: none !important;
      transform: none !important;
    }

    input[type='text'],
    input[type='email'] {
      border: 0;
      color: var(--color-interface-text-primary);
      font-size: var(--body-md-font-size);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-linehight-medium);
      margin: 0;
      margin-top: 10px;
      padding: 0;
      pointer-events: none;
    }

    select {
      appearance: none;
      border: none !important;
      color: var(--color-interface-text-primary);
      font-size: var(--body-md-font-size);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-linehight-medium);
      margin: 10px 0 0;
      padding: 0 !important;
      pointer-events: none !important;
    }
  }
}

.cmp-container-container {
  width: 50%;
  background-color: white !important;

  @media screen and (max-width: 490px){
    width: 100%;
  }
}

.form-container {
  margin: 0 !important;
}

main .form form p {
  font-size: 28px !important;
  line-height: 36px;
  font-weight: 600;
  color: var(  --color-interface-background-quaternary) !important;

  @media screen and (max-width: 490px) {
    font-size: 20px !important;
    line-height: 28px;
  }
}

main .form form .field-wrapper.col-6 {
  grid-column: inherit !important;
}

main .form form .field-wrapper.col-12.radio-group-wrapper {
  display: flex !important;
}

main .form form .field-wrapper.col-12.radio-group-wrapper legend {
font-size: 18px !important;
line-height: 24px;
font-weight: 600;
color: var(  --color-interface-background-quaternary) !important;
}

main .form form .field-wrapper.col-12 div[data-id='pandobselection-1'] {
  margin-left: 32px;
}

input[name='pan'] {
  max-width: 320px !important;

  @media screen and (max-width: 490px) {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 24px !important;
  }
}

main .form input[name="dateOfBirth"] {
  max-width: 320px !important;

  @media screen and (max-width: 490px) {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 24px !important;
  }
}

main .form form .panel-wrapper.field-consentsfragmentnrenro.field-wrapper p {
  font-size: 14px !important;
  line-height: 20px;
  font-weight: 400;

  @media screen and (max-width: 490px) {
    width: 330px ;
  }

  a {
    text-decoration: underline;
  }
}

main .form form .field-wrapper .button-wrapper {
  margin: 0 !important;
  text-align: left;
  position: relative;
  width: 272px;

  @media screen and (max-width: 490px) {
    width: 100%;
  }
}

main .form form .field-wrapper .button-wrapper::after {
  content:url('../../icons/Arrow.png');
  position: absolute;
  right: 27%;
  top: 10px;
}

main .form form .panel-wrapper.field-stepstofollowfragment {
  .field-stepstofollowtitle p {
font-weight: 600;
font-size: 24px !important;
line-height: 32px;

@media screen and (max-width: 490px) {
  margin-top: 20px;
  margin-bottom: 0 !important;
}
  }
  background: var(--color-interface-background-quinary);
  padding: 20px;
  border-radius: 20px;
@media screen and (max-width: 490px) {
  margin-top: 32px;
  background: var(--color-interface-background-quinary);
  padding: 20px;
  padding-top: 0;
  border-radius: 20px;
}
}

main .form form .panel-wrapper.field-stepstofollow.field-wrapper.col-span-12 {
@media screen and (min-width: 768px) {
  column-gap : 72px !important;
  text-align : center;
}
}

main .form form .panel-wrapper.field-stepstofollow p {
  font-size: 14px !important;
  line-height: 20px;
  font-weight: 400;
  max-width: 134px !important;
}

main .form form .panel-wrapper.field-loginfragmentnrenro.field-wrapper {
border-top: 1px dotted #d2d5d8;
fieldset.panel-wrapper.field-mobilepanel.field-wrapper {
    @media screen and (min-width:768px) {
        padding-top: 23px;
    }
}

}

main .form form .panel-wrapper.field-stepstofollow fieldset {
@media screen and (max-width: 490px){
  display: flex;
  flex-direction: row;
}
}

main .form form .panel-wrapper.field-stepstofollow fieldset.field-step1panel {
  @media screen and (max-width: 490px){
padding-top: 20px;
  }
  }

  
main .form form .panel-wrapper.field-stepstofollow fieldset img {
  padding-right: 90px;
  @media screen and (max-width: 490px){
height: 40px;
width: 40px;
max-width: 40px !important;
padding-right: 0;
  }
  }

  main .form form .panel-wrapper.field-stepstofollow fieldset p {
    @media screen and (max-width: 490px){
margin-bottom: 7px !important;
    }
    }

    
  main .form form .panel-wrapper.field-stepstofollow fieldset div.plain-text-wrapper.field-wrapper {
    @media screen and (max-width: 490px){
display: flex;
align-items: center;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    }
    &.field-step2text {
        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        }
    }
    &.field-step3text {
        @media screen and (min-width: 768px) {
            margin-bottom: 23px;
        }
    }
    &.field-step4text {
        @media screen and (min-width: 768px) {
            margin-top: 20px;
        }
    }
    &.field-step5text {
        @media screen and (min-width: 768px) {
            margin-bottom: 42px;
        }
    }
    }

    main .form form .panel-wrapper.field-stepstofollow fieldset div.image-wrapper.field-wrapper {
        @media screen and (min-width: 768px) {
           height: 25px;
        }
        }

main .form form .panel-wrapper.field-stepstofollow-additionalinfopanel p {
  font-size: 14px !important;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-interface-text-quaternary);

  @media screen and (max-width:490px) {
    font-size: 12px !important;
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 12px !important;
  }
}

main .form form .panel-wrapper.field-stepstofollow-additionalinfopanel {
  @media screen and (min-width: 768px) {
    margin-top: 20px
  }
}

main .form form .panel-wrapper.field-stepstofollow-additionalinfopanel legend {
  font-size: 20px !important;
  line-height: 28px;
  font-weight: 600;
  color: var(  --color-interface-background-quaternary);

  @media screen and (max-width: 490px) {
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 12px;
  }
}

.cmp-container-wrapper {
  padding: 0 !important;
  border-bottom: none !important;
  content:url('../../icons/nre_nro_desktop_banner.png');
  width: 100% !important;
  height: 40%;


  @media screen and (max-width: 490px) {
    content: url('../../icons/nre_mobile_page_banner.png');
  }
}

main .form form .field-wrapper.col-6.field-mobilepanel {
  display: flex;

  @media screen and (max-width: 490px) {
    flex-direction: row;
  }
}

.field-registeredmobilenumber {
  margin-left: -21px !important;
}

main .form input[name='registeredMobileNumber']{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 242px !important;
  @media screen and (max-width: 490px) {
    margin-top: 7px;
    width: 280px !important;
  }
}

main .form select[name="countryCode"]{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

main .form :is([data-active='true'], [data-empty='false'], .date-wrapper):not( .field-joiningrenewalfee, .field-nooffds, .field-customername, .field-creditlimit, .field-fdnumber, .field-selectedfdamount, .field-maturingdate, .field-eligiblecreditlimitamount, .field-joiningfeeamt, .field-renewalfeeamt ) > label {
  margin-left: -75px;
}

main .form.block {
  border-radius: 0 !important;
}