@import url('../../styles/color-palette.css');
@import url('../../styles/typography.css');

body.modal-open {
  overflow: hidden;
}

.modal dialog {
  overscroll-behavior: none;
  border-radius: var(--modal-popup-border-radius);
  border: none !important;
}

.modal-content {
  max-width: 920px;
  width: 100%;
   color: var(--color-modal-interface-text-primary);
   overflow: auto;

  p {
    font-size: var(--body-sm-font-size);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-linehight-regular);
    letter-spacing: 0; 
    text-align: left;
  }

  .field-label {
    font-size: var(--body-lg-font-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-linehight-large);
    letter-spacing: 0;
    text-align: center;
    padding-top: 32px;
  }

  .panel-wrapper {
    border: none;
    padding: 20px 40px;
  }

  .form-disagreedummybutton,
  .form-iagreeconsent1 {
    margin-top: 1em;
  }

  .form-actionwrapperpanel .field-label {
    display: none;
  }

  .field-viewallcardbenefitspanel .field-label{
    display: none;
  }

  .field-viewallcardbenefitspanel button{
    text-align: justify;
    background: var(--color-interface-background-quinary);
    color:var(--color-action-background-primary-default);
    padding-left: 10px !important;
  }

  .field-viewallcardbenefitspanel button:hover{
    background: var(--color-interface-background-quinary) !important;
  }
  
}

/* .modal dialog .modal-content {
  overflow-y: auto;
  overscroll-behavior: none;
  max-height: calc(100dvh - 60px);
} */

@media (320px <=width <=480px) {
.modal-content{
    .field-label{
      text-align: left !important;
      padding-top: 0;
    }

    .panel-wrapper {
        padding: 0;
  }
  }

  .modal .close-button{
    padding: 29px 34px 0 24px !important;
  }

}

@media (481px <=width <=767px) {
  .modal-content{
    .field-label{
      text-align: left !important;
      padding-top: 0;
    }

    .panel-wrapper {
        padding: 0;
  }
  }

}

@media (width >=768px) {
  .modal dialog {
    font-size: var(--body-sm-font-size);
    font-weight: var(--font-weight-regular);
    line-height: var(--body-extra-lg-font-size);
    letter-spacing: 0;
    text-align: left;
    padding: 0;
    overflow: hidden;
  }

  .modal dialog .modal-content {
    max-height: calc(100vh - 90px);
  }
}

.modal dialog::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: auto;
  padding: 24px 50px 0 24px;
  border-radius: 0 var(--dialog-border-radius) 0 0;
  background-color: unset;
  text-overflow: clip;
  margin: 0;
  border: none;
  color: var(--color-close-action-background-primary-default);
}

.modal dialog .section {
  padding: 0;
}
