@import url('../../styles/color-palette.css');

body.modal-open {
  overflow: hidden;
}

.modal dialog {
  --dialog-border-radius: 16px;
  
  overscroll-behavior: none;
  border: 1px solid #ccc;
  border-radius: var(--dialog-border-radius);
}

.modal-content {
  max-width: 920px;
  width: 100%;
   color: var(--color-modal-interface-text-primary);
   overflow: auto;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0; 
    text-align: left;
  }

  .field-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    padding-top: 32px;
  }

  .panel-wrapper {
    border: none;
    padding: 20px 40px;
  }

  .form-disagreedummybutton,
  .form-iagreeconsent1 {
    margin-top: 1em;
  }

  .form-actionwrapperpanel .field-label {
    display: none;
  }

  .field-viewallcardbenefitspanel .field-label{
    display: none;
  }

  .field-viewallcardbenefitspanel button{
    text-align: justify;
    background: var(--color-interface-background-quinary);
    color:var(--color-action-background-primary-default);
    padding-left: 10px !important;
  }

  .field-viewallcardbenefitspanel button:hover{
    background: var(--color-interface-background-quinary) !important;
  }
  
}

.modal dialog .modal-content {
  overflow-y: auto;
  overscroll-behavior: none;
  max-height: calc(100dvh - 60px);
}

@media (width >=768px) {
  .modal dialog {
    width: 100%;
    max-width: 920px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding: 0;
    overflow: hidden;
  }

  .modal dialog .modal-content {
    max-height: calc(100vh - 90px);
  }
}

.modal dialog::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: auto;
  padding: 24px 50px 0 24px;
  border-radius: 0 var(--dialog-border-radius) 0 0;
  background-color: unset;
  text-overflow: clip;
  margin: 0;
  border: none;
  color: #6b7280;
}

.modal dialog .section {
  padding: 0;
}


.field-viewallcardbenefitspanel{
  padding: 20px !important;

  .field-backlinkcardbenefits{
    text-align: left;

    /* stylelint-disable-next-line no-descending-specificity */
    button{
      max-width: 100%;
      border-radius: 6px;
    }
  }
}