/* add all fd realted styles */
.fdlien header {
    background: var(--color-interface-fd-background-primary);
}

.fdlien header .cmp-container>div:nth-child(n+3) {
    display: none;
}

.fdlien header .cmp-container>div:nth-child(2) {
    position: absolute;
    width: 140px;
    right: 0;
    top: 0.2em;
    height: 32px;
    content: url('../icons/safe-secure.svg');
}

.fdlien:has(.section.cmp-container-container) .section.cmp-container-container {
    display: none;
}

.fdlien:has(.section.form-container) .section.form-container {
    box-shadow: none;
    border-radius: 0;
    margin: 0 auto !important;
}

.fdlien:has(.section.form-container) .section.form-container {
    form {
        padding: 0;
        gap: 20px;
    }

    .field-bannerimagepanel {
        background: var(--color-interface-fd-background-secondary);
    }

    .field-loginmainpanel {
        .field-loginpanel {
            width: 97%;
            border-bottom: 1px dotted var(--color-interface-border-secondary);
        }
        .field-consenttext {
            p p {
                font-size: var(--body-fd-sm-font-size);
            }
        }

        .field-mobilepanel {
            .field-wrapper {
                p p {
                    font-size: var(--body-md-font-size) !important;
                    font-weight: var(--font-weight-medium);
                }
            }
        }

        .field-stepstofollow {
            display: flex;
            background: var(--color-interface-background-quinary);
            padding: 10px;
            border-radius: 20px;
            width: 98%;
            justify-content: center;
            margin-bottom: 20px;

            legend {
                padding: 60px 0 0 20px;
            }

            fieldset {
                flex: 0;
                padding: 10px;
                box-sizing: border-box;
                display: flex;
                text-align: center;

                img {
                    width: 20px;
                    height: 20px;
                    font-size: var(--body-fd-sm-font-size);
                }

                p p {
                    font-size: var(--body-fd-sm-font-size);
                }
            }
        }
    }

    .field-identifierpanel {
        .field-pandobselection {
            gap: 4px;
            legend {
                font-size: var(--body-md-font-size) !important;
                font-weight: var(--font-weight-medium);
                margin-right: 6px;
            }

            .field-pandobselection {
                margin-right: 6px;
                label {
                    font-size: var(--body-sm-font-size) !important;
                    font-weight: var(--font-weight-medium);
                }
            }
        }
    }
}

.fdlien .button-wrapper {
    text-align: left;

    .button {
        background: var(--color-interface-button-background);
        border-radius: 13px;
        font-size: var(--form-button-font-size);
        font-weight: var(--form-button-font-weight);
        width: auto;
        padding: 0 50px;
    }
}

.fdlien footer {
    background: var(--color-interface-fd-background-primary);
}