
/* Inter - ExtraLight */
@font-face {
    font-family: inter;
    src: url('../fonts/inter-woff2/Inter-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: optional;
}

/* Inter - Light */
@font-face {
    font-family: inter;
    src: url('../fonts/inter-woff2/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: optional;
}

/* Inter - Regular */
@font-face {
    font-family: inter;
    src: url('../fonts/inter-woff2/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}



/* Inter - Medium */
@font-face {
    font-family: inter;
    src: url('../fonts/inter-woff2/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

/* Inter - SemiBold */
@font-face {
    font-family: inter;
    src: url('../fonts/inter-woff2/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('../fonts/roboto-bold.woff2') format('woff2');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('../fonts/roboto-regular.woff2') format('woff2');
}

