@import url("../../styles/color-palette.css");
.nre {
  main {
    display: flex;

    .cmp-container-container {
      width: 50%;
      background-color: white !important;
    }

    .form form p {
      font-size: 28px !important;
      line-height: 36px;
      font-weight: 600;
      color: var(--color-interface-background-quaternary) !important;
    }

    .form form .field-wrapper.col-6 {
      grid-column: inherit !important;
    }

    .form form .field-wrapper.col-12.radio-group-wrapper {
      display: flex !important;
    }

    .form form .field-wrapper.col-12.radio-group-wrapper legend {
      font-size: 18px !important;
      line-height: 24px;
      font-weight: 600;
      color: var(--color-interface-background-quaternary) !important;
    }

    .form form .field-wrapper.col-12 div[data-id="pandobselection-1"] {
      margin-left: 32px;
    }

    .form input[name="dateOfBirth"] {
      max-width: 320px !important;
    }

    .form form .panel-wrapper.field-consentsfragmentnrenro.field-wrapper p {
      font-size: 14px !important;
      line-height: 20px;
      font-weight: 400;

      a {
        text-decoration: underline;
      }
    }

    .form form .field-wrapper .button-wrapper {
      margin: 0 !important;
      text-align: left;
      position: relative;
      width: 272px;
    }
    .form form .field-wrapper .button-wrapper::after {
      content: url("../../icons/Arrow.png");
      position: absolute;
      right: 27%;
      top: 10px;
    }

    .form form .panel-wrapper.field-stepstofollowfragment {
      .field-stepstofollowtitle p {
        font-weight: 600;
        font-size: 24px !important;
        line-height: 32px;
      }
      background: var(--color-interface-background-quinary);
      padding: 20px;
      border-radius: 20px;
    }

    .form form .panel-wrapper.field-stepstofollow.field-wrapper.col-span-12 {
      @media screen and (min-width: 768px) {
        column-gap: 72px !important;
        text-align: center;
      }
    }

    .form form .panel-wrapper.field-stepstofollow p {
      font-size: 14px !important;
      line-height: 20px;
      font-weight: 400;
      max-width: 134px !important;
    }

    .form form .panel-wrapper.field-loginfragmentnrenro.field-wrapper {
      fieldset.panel-wrapper.field-mobilepanel.field-wrapper {
        @media screen and (min-width: 768px) {
          padding-top: 23px;
          border-top: 1px dotted #d2d5d8;
        }
      }
    }

    .form form .panel-wrapper.field-stepstofollow fieldset img {
      padding-right: 90px;
    }

    .form
      form
      .panel-wrapper.field-stepstofollow
      fieldset
      div.plain-text-wrapper.field-wrapper {
      @media screen and (min-width: 768px) {
        margin-bottom: 0px;
      }
      &.field-step2text {
        @media screen and (min-width: 768px) {
          margin-bottom: 40px;
        }
      }
      &.field-step3text {
        @media screen and (min-width: 768px) {
          margin-bottom: 23px;
        }
      }
      &.field-step4text {
        @media screen and (min-width: 768px) {
          margin-top: 20px;
        }
      }
      &.field-step5text {
        @media screen and (min-width: 768px) {
          margin-bottom: 42px;
        }
      }
    }

    .form
      form
      .panel-wrapper.field-stepstofollow
      fieldset
      div.image-wrapper.field-wrapper {
      @media screen and (min-width: 768px) {
        height: 25px;
      }
    }

    .form form .panel-wrapper.field-stepstofollow-additionalinfopanel p {
      font-size: 14px !important;
      line-height: 20px;
      font-weight: 400;
      color: var(--color-interface-text-quaternary);
    }

    .form form .panel-wrapper.field-stepstofollow-additionalinfopanel {
      @media screen and (min-width: 768px) {
        margin-top: 20px;
      }
    }

    .form form .panel-wrapper.field-stepstofollow-additionalinfopanel legend {
      font-size: 20px !important;
      line-height: 28px;
      font-weight: 600;
      color: var(--color-interface-background-quaternary);
    }

    .form form .field-wrapper.col-6.field-mobilepanel {
      display: flex;
    }

    .form .field-registeredmobilenumber input[name="registeredMobileNumber"] {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      width: 242px !important;

      &:hover {
        border-color: none;
      }
    }

    .form select[name="countryCode"] {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .form
      :is([data-active="true"], [data-empty="false"], .date-wrapper):not(
        .field-joiningrenewalfee,
        .field-nooffds,
        .field-customername,
        .field-creditlimit,
        .field-fdnumber,
        .field-selectedfdamount,
        .field-maturingdate,
        .field-eligiblecreditlimitamount,
        .field-joiningfeeamt,
        .field-renewalfeeamt
      )
      > label {
      margin-left: -75px;
    }
    .form.block {
      border-radius: 0 !important;
    }

    input[name="pan"] {
      max-width: 320px !important;
    }
    .cmp-container-wrapper {
      padding: 0 !important;
      border-bottom: none !important;
      content: url("../../icons/nre_nro_desktop_banner.png");
      width: 100% !important;
      height: 40%;
    }

    .field-registeredmobilenumber {
      margin-left: -21px !important;
    }
    .form-container {
      margin: 0 !important;
    }
  }
  header {
    background: var(--color-interface-fd-background-primary);
  }

  footer {
    background: var(--color-interface-fd-background-primary);
    & .cmp-container {
      div > div {
        text-align: center;
      }
    }
  }
}

@media (320px <=width <=439px) {
  .nre {
    main {
      flex-direction: column;

      div > div > p {
        width: 100% !important;
        text-align: center;
      }

      div p:nth-child(2) {
        display: block;
      }

      .form form p {
        font-size: 20px !important;
        line-height: 28px;
      }

      .form input[name="dateOfBirth"] {
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 24px !important;
      }

      .form form .panel-wrapper.field-consentsfragmentnrenro.field-wrapper p {
        width: 330px;
      }

      .form form .field-wrapper .button-wrapper {
        width: 100%;
      }
      .form form .panel-wrapper.field-stepstofollow fieldset {
        display: flex;
        flex-direction: row;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset.field-step1panel {
        padding-top: 20px;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset img {
        height: 40px;
        width: 40px;
        max-width: 40px !important;
        padding-right: 0;
      }

      .form form .panel-wrapper.field-stepstofollow fieldset p {
        margin-bottom: 7px !important;
      }

      .form
        form
        .panel-wrapper.field-stepstofollow
        fieldset
        div.plain-text-wrapper.field-wrapper {
        display: flex;
        align-items: center;
      }

      .form form .panel-wrapper.field-stepstofollow-additionalinfopanel p {
        font-size: 12px !important;
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 12px !important;
      }

      .form form .panel-wrapper.field-stepstofollow-additionalinfopanel legend {
        margin-bottom: 0;
        padding-top: 0px;
        padding-bottom: 12px;
      }
      .form form .field-wrapper.col-6.field-mobilepanel {
        flex-direction: row;
      }

      .form .field-registeredmobilenumber input[name="registeredMobileNumber"] {
        margin-top: 7px;
        width: 300px !important;
      }
      input[name="pan"] {
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 24px !important;
      }
      .cmp-container-wrapper {
        content: url("../../icons/nre_mobile_page_banner.png");
      }
      .form form .panel-wrapper.field-stepstofollowfragment {
        .field-stepstofollowtitle p {
          margin-top: 20px;
          margin-bottom: 0 !important;
        }

        margin-top: 32px;
        background: var(--color-interface-background-quinary);
        padding: 20px;
        padding-top: 0;
        border-radius: 20px;
      }
      .form form .panel-wrapper.field-basicrequirements.field-wrapper {
        margin-top: 32px;
      }
    }

    footer {
      .cmp-container {
        height: 30px;

        div > div {
          text-align: center;
          padding: 0;
          height: 30px;
          padding: 5px 0;

          a {
            display: none;
          }
        }
      }
    }
  }
}
