:root {
  --font-family-default: inter;

  /* form--btn */
  --form-button-font-size: 16px;
  --form-button-font-weight: 700;

/* body styles */
  --form-max-width: 960px;
  --form-border-radius: 24px;

/* text field styles */
  --form-input-height: 48px;
  --form-input-padding: 14px 12px 14px 16px;
  --form-input-border-radius: 8px;
}
