.personaldetails-disabled {
  legend.hdfc-accordion-style {
    margin-bottom: 24px;
  }

  .wrapper-disabled {
    .field-label {
      color: var(--color-interface-text-secondary) !important;
      font-size: var(--body-sm-font-size) !important;
      font-weight: var(--font-weight-regular) !important;
      line-height: var(--font-linehight-regular) !important;
      margin: 0 !important;
      padding: 0 !important;
      transform: none !important;
    }

    input[type='text'] {
      border: 0;
      color: var(--color-interface-text-primary);
      font-size: var(--body-md-font-size);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-linehight-medium);
      margin: 0;
      margin-top: 10px;
      padding: 0;
      pointer-events: none;
    }

    select {
      appearance: none;
      border: none !important;
      color: var(--color-interface-text-primary);
      font-size: var(--body-md-font-size);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-linehight-medium);
      margin: 10px 0 0;
      padding: 0 !important;
      pointer-events: none !important;
    }
  }
}
